rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // 股市專案
    match /transactions/{docId} {
      allow read, write: if true;
    }
    match /config/{docId} {
      allow read, write: if true;
    }

    // wordcloud
    match /sessions/{sessionId} {
      allow read: if true;
      allow create: if true;
      allow update: if request.resource.data.diff(resource.data).affectedKeys().hasOnly(['currentRound']);
      allow delete: if request.auth != null && request.auth.token.email == 'arthlin@gmail.com';

      match /words/{wordId} {
        allow read: if true;
        allow create: if request.resource.data.keys().hasOnly(['word', 'round', 'ts'])
                      && request.resource.data.word is string
                      && request.resource.data.word.size() <= 20;
        allow update: if false;
        allow delete: if request.auth != null && request.auth.token.email == 'arthlin@gmail.com';
      }
    }

    // 來賓通知系統
    match /guests/{docId} {
      allow read, write: if true;
    }
    match /templates/{docId} {
      allow read, write: if true;
    }

    // 預設拒絕
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
